.app.light {
  --inverted-bg-color: rgb(7 7 59);
  --bg-color: rgb(241 241 241);
  --primary-color: rgb(84 71 177);
  --secondary-color: rgb(117 177 203);
  --inverted-primary-color: rgb(37 160 37);
  --inverted-secondary-color: rgb(7 237 7);
}
